body {
    background-image: url("/images/sea-edge-79ab30e2.png");
    background-color: rgba(255, 255, 255, 1);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
   }

   table, th, td {
    text-align: center;
  }
  .header {
    background-color: #211f1f;
    padding: 20px;
    text-align: center;
  }
  .footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  background-color: #211f1f;
}