body {
    background-image: url("/images/Geometric_abstract_light_blue_background_for_website_wallpapers_bussines_templates.jpg");
    height: fit-content;
    background-color: #cccccc;
   }
   table, th, td {
    border: 1px solid;
  }